<head>
<title>share withs</title>
<style>
body {
    background-color: black;
    margin: 0;
}
#image-content {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    height: 100%;
    width:1210px;
}
</style>
</head>

<body>
<div id="image-content"></div>
</body>



<script>
images = [
{{#images}}
    "{{fname}}",
{{/images}}
]
cur_image = 0;

function change_image(e) {
    var dir;
    if (e.key === "ArrowLeft" || e.key === "ArrowUp") {
        dir = -1;
    } else if (e.key === "ArrowRight" || e.key === "ArrowDown") {
        dir = 1;
    } else {
        dir = 0;
    }
    if (cur_image + dir >= 0 && cur_image + dir < images.length) {
        cur_image += dir;
    }
    var img = images[cur_image];
    console.log(e.key);
    console.log(cur_image);
    console.log(img);
    document.getElementById('image-content').style['background-image'] = 'url("' + img + '")';
}

document.addEventListener('keydown', change_image);
change_image({});
</script>
